In [83]:
import requests 
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()
API_KEY = os.getenv('API_KEY')

url = "https://backend.simfin.com/api/v3/companies/prices/compact?ticker=MSFT"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

response = requests.get(url, headers=headers).json()

In [84]:
json_data = response[0]
df = pd.DataFrame(json_data['data'], columns=json_data['columns'])
df.head()

,Date,Dividend Paid,Common Shares Outstanding,Last Closing Price,Adjusted Closing Price,Highest Price,Lowest Price,Opening Price,Trading Volume
0,2018-03-26,NaN,7699792852,93.78,87.10,94.00,90.40,90.61,55031149
1,2018-03-27,NaN,7699792852,89.47,83.10,95.14,88.51,94.94,53704562
2,2018-03-28,NaN,7699792852,89.39,83.02,91.23,88.87,89.82,52501146
3,2018-03-29,NaN,7699792852,91.27,84.77,92.29,88.40,90.18,45867548
4,2018-04-02,NaN,7690000000,88.52,82.22,90.88,87.51,90.47,48515417

In [82]:
latest = df.tail(2)
latest

,Date,Dividend Paid,Common Shares Outstanding,Last Closing Price,Adjusted Closing Price,Highest Price,Lowest Price,Opening Price,Trading Volume
1756,2025-03-20,NaN,15022073000,214.10,214.10,217.49,212.22,213.99,48298706
1757,2025-03-21,NaN,15022073000,218.27,218.27,218.84,211.28,211.56,93514422

In [74]:
latest['% change'] = latest['Last Closing Price'].pct_change()
latest

C:\Users\SABIO\AppData\Local\Temp\ipykernel_42592\3010783201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest['% change'] = latest['Last Closing Price'].pct_change()

,Date,Dividend Paid,Common Shares Outstanding,Last Closing Price,Adjusted Closing Price,Highest Price,Lowest Price,Opening Price,Trading Volume,% change
1451,2025-03-20,None,247873415,369.03,369.03,377.49,364.46,371.28,2874660,NaN
1452,2025-03-21,None,247873415,362.24,362.24,372.19,353.03,358.91,8008355,-0.0184

In [75]:
latest['change'] = latest['Last Closing Price'].diff()
latest

C:\Users\SABIO\AppData\Local\Temp\ipykernel_42592\114201049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest['change'] = latest['Last Closing Price'].diff()

,Date,Dividend Paid,Common Shares Outstanding,Last Closing Price,Adjusted Closing Price,Highest Price,Lowest Price,Opening Price,Trading Volume,% change,change
1451,2025-03-20,None,247873415,369.03,369.03,377.49,364.46,371.28,2874660,NaN,NaN
1452,2025-03-21,None,247873415,362.24,362.24,372.19,353.03,358.91,8008355,-0.0184,-6.79

In [79]:
df_final = latest.tail(1)
df_final['% change'].iloc[0]

np.float64(-0.018399588109367704)

In [88]:
url = "https://backend.simfin.com/api/v3/companies/general/compact?ticker=AAPL"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

response = requests.get(url, headers=headers).json()
df = pd.DataFrame(response['data'], columns=response['columns'])
df

,companyDescription,endFy,id,industryName,isin,market,name,numEmployees,sectorCode,sectorName,ticker
0,Apple Inc is an American multinational technol...,9,111052,Technology,US0378331005,US,APPLE INC,147000,101001,Computer Hardware,AAPL

In [92]:
df['name'].iloc[0]

'APPLE INC'